

<main role="main" class="success" id="success">

  <div class="jumbotron">
    <div class="container">
      <h2>Transaction has been successful. Congratulations for your new home!!!</h2>

<%# <%= debug @session %>
<%# <%= debug @payment_intent %>

    </div>
  </div>
        





