


.success .jumbotron {

    background-image: url('buy_house.jpeg');
    background-repeat: no-repeat;
    background-size: auto;
    
  

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   

     h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    padding: 5%;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #777;
    }

}




