<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Property Finder</h6>
        <p>For years, hundreds of home shoppers have turned to find their dream home. Operated by Move, Inc., 
           offers a comprehensive list of for-sale properties, as well as the information and tools to make informed  
           real estate decisions.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-1">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful Links</h6>
        <p>
         <%= link_to "Careers", careers_path %>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
        <%= link_to "Find ours Realtors", realtors_index_path  %>
        </p>
        <p>
          <a href="#!">Contact us</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i> Miami, FL 10012, US</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> propertyfinder@realtor.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright: All rights reserved.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

       
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->