

.banner_careers {


    background-image: image-url('careers.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 15%;
    
}


.description_careers {


h1  {

    padding: 2em 0 0 1.5em;
    color: dimgrey;
    
}

p   {

    padding: 2em 3.5em 6em 3.5em;
    color: dimgrey;
}

}


