// Place all the styles related to the housesrent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.housesrent-banner .jumbotron {

    background-image: image-url("banner_room.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;

    
    h1,p,em {

        color: #fff;
        text-shadow: 1px 1px 2px #777;
        margin-top: -.8em;
    }

}
