// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#latest-properties  {

    margin-top: -6em;
}


#notifications {

    display: none;
}

.container {

    padding-top: 80px;
}

.circle {
  
  
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-left: 33%;
    
}
  
  .circle img {

    bottom: 0;
    width: 90%;
       
}

#home-banner .jumbotron  {
  
    background-image: image-url("banner_house.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#blog-banner .jumbotron {
  
    background-image: image-url("banner_miami.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-banner .jumbotron {

    h1,p,em {

        color: #fff;
        text-shadow: 1px 1px 2px #777;
    }

}

#news-banner .jumbotron {

    background-image: image-url('banner_news.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

 
 
    h1,p,em {

        color:black;
        text-shadow: 1px 1px 2px #777;
    }

}