
<div class="banner_affiliate"></div>


<div class="description_affiliate">

<h1>Affiliate Membership Information and Benefits</h1>


<p>The ®REALTORS is pleased to offer area businesses the opportunity to join the 
Association as Affiliate Members. Affiliate Membership is a special category of membership reserved for individuals who 
are not actively engaged in the real estate profession but who have an interest in the   activities of the Association, 
including access to resources, programs, services and information.


Examples are, but not limited to, mortgage bankers, closing attorneys, home inspectors, home warranty representatives, 
insurance agents, pest control specialists, staging companies, interior design companies and web design companies.  
Membership is on an individual or company basis.  In other words, only one person will join and hold membership on 
behalf of themselves or their company.</p>

<h2>How does becoming a ®REALTORS Affiliate benefit my business?</h2>

<p>®REALTORS works for you! As a member, you are entitled to member communications, monthly news, legislative advocacy on your 
industry’s behalf, community service, and being part of a strong group of industry professionals. Businesses who become 
Affiliate Members also receive the following member benefits:</p>

</div>
